:root {
    --main_bcg: whitesmoke;
    --green_color: rgb(27, 160, 116);
    --gray_border_color: rgb(185, 185, 185);
    --gray_name_bcg: rgb(218, 217, 217);
    --green_menu_a: rgb(16, 61, 46);
    --table_bottom_border: black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--main_bcg);
    width: 100vw;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

header h1 {
    color: var(--green_color);
    padding-left: 1.5rem;
    padding-bottom: 0.5rem;
}

header menu {
    background-color: var(--green_color);
    padding: 1rem;
    margin: auto 1rem;
}

header menu a {
    color: var(--green_menu_a);
    text-decoration: none;
    margin: auto 1rem;
}

#main-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: auto 2.5rem; 
}

#main-content li {
    line-height: 1.5rem;
    padding: 5px;
}

.column {
    margin: 10px 5px;
    border: 1px solid var(--gray_border_color);
    border-radius: 10px;
}

.column img {
    border: 1px solid var(--gray_border_color);
    padding: 10px;
    border-radius: 10px;
 }

.nev {
    background-color: var(--gray_name_bcg);
    padding: 1rem;
    color: var(--green_color);
    border-bottom: 1px solid var(--gray_border_color);
}

aside img {
    border: 1px solid var(--gray_border_color);
    margin: 5px 10px 0px 10px;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    object-fit: contain;
}

footer {
    color: var(--green_color);
    text-align: center;
}

#ev_tabla {
    display: grid;
    grid-template-columns: 1fr 300px;
    gap: 10px;
    padding: 10px;
    padding-inline: 2rem;
}

table {
    padding-bottom: 10px;
    text-align: left;
    border-collapse: collapse;
}

th {
    padding: 10px;
    padding-right: 5rem;
}

tr {
    padding: 10px;
    padding-right: 5rem;
}

td {
    padding: 10px;
    padding-right: 5rem;
}